@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 100% 98.04%;
    --foreground: 213.6 100% 4.9%;

    --primary: 124 41% 56%;
    --primary-foreground: 124 4.1% 5.6000000000000005%;

    --muted: 213.6 100% 95.1%;
    --muted-foreground: 0 0% 40%;

    --card: 216 100% 98.04%;
    --card-foreground: 213.6 100% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 213.6 100% 4.9%;

    --secondary: 124 20.5% 16.8%;
    --secondary-foreground: 124 4.1% 97.8%;

    --accent: 124 20.5% 16.8%;
    --accent-foreground: 124 4.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 124 4.1% 97.8%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 214.12 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #65bd60;

    --background: 124 26.65% 4.48%;
    --foreground: 124 4.1% 97.8%;

    --muted: 124 20.5% 16.8%;
    --muted-foreground: 124 4.1% 55.6%;

    --popover: 124 56.8% 7.280000000000001%;
    --popover-foreground: 124 4.1% 97.8%;

    --card: 124 56.8% 7.280000000000001%;
    --card-foreground: 124 4.1% 97.8%;

    --border: 124 20.5% 16.8%;
    --input: 124 20.5% 16.8%;

    --primary: 124 41% 56%;
    --primary-foreground: 124 4.1% 5.6000000000000005%;

    --secondary: 124 20.5% 16.8%;
    --secondary-foreground: 124 4.1% 97.8%;

    --accent: 124 20.5% 16.8%;
    --accent-foreground: 124 4.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 124 4.1% 97.8%;

    --ring: 124 41% 56%;

    --radius: 0.5rem;
  }

  .theme-custom {
    /* Name: custom color palette
         Author: Ilias Ism
         URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
